.accesibilidad
  z-index: 100

.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    right: 65%
    top: 65%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    right: 15%
    top: 40%
  &-3
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    right: 25%
    top: 5%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//.banner-principal .tarjeta
  //background-position: inherit !important
@media screen and (max-width: 990px)
  .banner-principal .tarjeta
    background-position: inherit !important

.banner-interno
  height: 170px
.banner-interno__fondo
  background-image: url(../assets/curso/fondo_tema.png) !important

.contenedor-bloque-leyenda
  position: relative
  z-index: 1
  &:before
    content: ""
    position: absolute
    width: 100%
    height: 85%
    background-color: $color-sistema-i
    bottom: 0
    left: 0
    z-index: -1
  .contenedor-leyenda
    position: relative
    z-index: 1
    &:before
      content: ""
      border-radius: 8px
      position: absolute
      width: 100%
      height: 90%
      background-color: $color-sistema-h
      bottom: 0
      left: 0
      z-index: -1
  .texto-leyenda
    max-width: 620px
    margin: 0 auto
    position: relative
    text-align: center
    i.fas
      position: absolute
      font-size: 1.5em
      color: $color-acento-contenido
    .i-izquierda
      left: 0
      top: 0
      transform: translate(-100%,-70%)
    .i-derecha
      right: 0
      bottom: 0
      transform: translate(100%,70%)

.fondo-color-sistema-j
  background-color: $color-sistema-j
.fondo-color-sistema-k
  background-color: $color-sistema-k
.borde-10
  border-radius: 10px
.borde-13
  border-radius: 13px
.borde-12
  border-radius: 12px

.lista-ul--color li > i:first-of-type
  color: $color-primario

.lista-ul
  li
    display: flex
  i.fas.fa-circle
    font-size: 0.7em
.tabla-a.color-acento-contenido thead
  border-color: $color-sistema-i
table caption
  background-color: $color-sistema-h
  font-weight: 400
  color: #636363
  
.cont_titulo_decorativo, .cont_titulo_decorativo *
  position: relative
.cont_titulo_decorativo
  width: fit-content
  margin-bottom: 1.7rem
.cont_titulo_decorativo:before
  content: ''
  position: absolute
  height: 85%
  width: 100%
  left: 0
  bottom: 0
  background-color: #8DEECC
  border-radius: 5px

.tarjeta-p-1
  height: 100%
  background-color: $color-secundario
  border-radius: 10px
  &__titulo
    display: inline-block
    background-color: $color-acento-contenido
  &__parrafo
    color: $white
  &__img2
    margin-top: 1rem

.fondo-gradiente-1
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ""
    position: absolute
    width: 125%
    left: -15%
    height: 70%
    top: 12%
    bottom: 15%
    background: url(../assets/curso/temas/img-10.png)
    background-size: cover
    background-position: top

.numero-circular
  display: inline-flex
  width: 30px
  height: 30px
  background-color: $color-acento-contenido
  border-radius: 50%
  justify-content: center
  align-items: center
.tarjeta-fig
  position: relative
  z-index: 1
  background-color: $color-primario
  border-radius: 10px
  p
    color: $white

.contenedor-figura-1
  background-color: #FFEEA6
  border-radius: 10px
  position: relative
  .figura-dec-1
    max-width: 97px
    position: absolute
    top: 5%
    right: 0
    z-index: 0
    @media screen and (max-width: 768px)
      top: 10%

  .figura-dec-2
    max-width: 264px
    position: absolute
    bottom: 0
    z-index: 0
    left: 10%

.cont_c
  position: relative
  z-index: 1

  .img-dec-1
    position: absolute
    width: auto
    right: 0
    top: 0
    z-index: -1

.img-dec-2-c-1
  position: absolute
  width: auto
  bottom: 0
  right: 0

.fondo-color-sistema-h
  background-color: $color-sistema-h !important
.fondo-color-primario
  background-color: $color-primario !important
.fondo-color-sistema-l
  background-color: $color-sistema-l !important
.fondo-color-secundario
  background-color: $color-secundario !important

.cont_d_3
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ""
    position: absolute
    width: 100%
    height: 75%
    left: 0
    bottom: 0
    background-color: $color-acento-botones
    border-radius: 10px
    @media screen and (min-width: 992px)
      height: 100%


.cont-fig-2
  bottom: 18%
  @media screen and (min-width: 768px)
    bottom: 12%
  @media screen and (min-width: 992px)
    bottom: 20%

.custom-acordiona
  .acordion__accion__btn--a
    background-color: $color-acento-botones

.fondo-gradiente-2
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ""
    position: absolute
    width: 125%
    height: 100%
    left: -15%
    right: 0
    bottom: 0
    top: 0
    opacity: 0.49
    background: linear-gradient(0deg, rgba(222,225,237,0.37) 0%, rgba(175,199,233,0.64) 40%, rgba(173,211,253,1) 100%)

.fondo-gradiente-3
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ""
    position: absolute
    width: 125%
    height: 90%
    left: -15%
    right: 0
    bottom: 0
    top: 10%
    background: linear-gradient(180deg, rgba(249,252,255,0.23) 0%, rgba(200,227,254,0.49) 26%, rgba(226,240,255,1) 51%, rgba(224,239,255,1) 100%);

.tabs-b
  border-bottom: none 
.tabs-b.color-acento-contenido .tabs-b__tab
  border-bottom: none
.tabs-b.color-acento-contenido .tabs-b__tab--active
  border-top-color: $color-acento-botones !important

ol.lista-ol--cuadro
  li
    display: flex
    .lista-ol--cuadro__vineta
      color: $color-sistema-texto

.cont_tarjeta_cursor
  height: 100%
  position: relative
  background-color: #DEE1ED
  border-radius: 10px
  z-index: 1
  &:hover
    background-color: #273A89
    p,h4
      color: white
    .dec-1
      display: block !important
    .dec-2
      display: none !important
